body {
    margin: 0;
    padding: 0;
    background-image: url('./img/mainbg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
  }

.btn{
    width: 500px;
    font-size: 3rem;
    margin-top: 4rem;
    margin-left: 50rem;
    border: 3px solid  black;
    background-color: rgb(23, 158, 37);
    content: white;
    padding: 1rem 1rem;  
    border-radius: 0.75rem;
    transition: all 300ms ease-in-out ;
    cursor: pointer;

}

.btn:hover{
  width: 525px;
  color: white;
  padding: 1rem 2rem;
  background-color: rgb(23,214,33);
}

a {
    text-decoration: none;
  }

.list{
  color: white;
  width:610px;
  height: 700px;
  border: 8px outset rgb(8, 8, 8);
  border-radius: 8px;
  background-color:black;
  margin-left: 45rem;
  font-size: larger;
  padding: 2rem;
  margin-top: 2rem;
}


.luffy{
  text-align: center;
  margin-top: 0.5rem;
}

.luffy:hover{
  scale: 1.1; 
  transition: all 300ms ease-in-out ;   
}

.zoro:hover{
  scale: 1.1;
  transition: all 300ms ease-in-out ;
}

.nami:hover{
  scale: 1.1;
  transition: all 300ms ease-in-out ;
}

.law:hover{
  scale: 1.1;
  transition: all 300ms ease-in-out ;
}

.mihawk:hover{
  scale: 1.1;
  transition: all 300ms ease-in-out ;
}