body {
    margin: 0;
    padding: 0;
    background-image: url('./img/mainbg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
  }

.btn{
    width: 425px;
    font-size: 3rem;
    margin-top: 4rem;
    margin-left: 55%;
    border: 3px solid  black;
    content: white;
    padding: 0.5rem ;  
    border-radius: 0.75rem;
    transition: all 300ms ease-in-out ;
    cursor: pointer;
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);


}

.btn:hover{
  width: 475px;
  color: white;
  padding: 1rem ;
  background-color: #85FFBD;
    background-image: linear-gradient(45deg, #1bf17f 0%, #f2ec32 100%);
  
  

}

a {
    text-decoration: none;
  }

.list{
  color: black;
  width:610px;
  height: 700px;
  border: 8px outset rgb(8, 8, 8);
  border-radius: 8px;
  background-image: linear-gradient(to right, red , yellow);
  margin-left: 50%;
  font-size: larger;
  padding: 2rem;
  margin-top: 2rem;
}


.characters:hover{
  scale: 1.1; 
  transition: all 300ms ease-in-out ;   
}



